# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: ci-build-artifacts

on:
  push:
    branches: [ "automatic_builds" ]
  pull_request:
    branches: [ "automatic_builds" ]

jobs:
    setup:
        runs-on: ubuntu-latest
        outputs:
            version: ${{ steps.get_version.outputs.version }}
        env:
            currVer: ${{ github.ref_name }}
        steps:
          - name: Extract Version Number
            id: get_version
            shell: bash
            run: |
              version="${currVer#v}"
              echo "version=$version" >> $GITHUB_OUTPUT
              echo "Extracted version: $version"

# ================================
#              Windows
# ================================
    build-windows:
        needs: setup
        runs-on: windows-latest
        strategy:
            matrix:
                rid: ["win-x64", "win-arm64"]

        steps:
          - name: Checkout Repository
            uses: actions/checkout@v4

          - name: Setup .NET
            uses: actions/setup-dotnet@v4
            with:
                dotnet-version: 8.0.x

          - name: Install Netloy
            run: dotnet tool install -g Netloy

          - name: Restore Dependencies
            run: |
                cd ./NervaOneWalletMiner.Desktop
                dotnet restore

          - name: Build Windows ZIP
            run: |
                cd ./NervaOneWalletMiner.Desktop
                dotnet publish NervaOneWalletMiner.Desktop.csproj -c release -r ${{ matrix.rid }} -p:publishsinglefile=true

          - name: Remove PDB Files
            run: Remove-Item -Path "./NervaOneWalletMiner.Desktop/bin/release/net8.0/${{ matrix.rid }}/publish/*.pdb" -Force -ErrorAction SilentlyContinue
            shell: pwsh

          - name: Upload Windows Artifacts
            uses: actions/upload-artifact@v4
            with:
                name: nervaone-desktop-${{ needs.setup.outputs.version }}-${{ matrix.rid }}
                path: |
                    ./NervaOneWalletMiner.Desktop/bin/release/net8.0/${{ matrix.rid }}/publish/*
                    !./NervaOneWalletMiner.Desktop/bin/release/net8.0/${{ matrix.rid }}/publish/*.pdb